@media(max-width:700px){

    header{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.800);
        width: 100%;
        top: 0px;
        z-index: 2;
    }

    header .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main{
        margin-top: 4em;
    }

    .filme-principal .container {
        width: 90%;
    }

    header .container nav {
        display: none;
    }

    header .container .menu-toogle{
        display: block;
    }
}
